<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href=" @Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />
<title>@ViewBag.Title - Tecnodona</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")



</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="barra_nav">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>



<a href="@Url.Action("Index","Home")" title="Tecnodona" class="links">
<img src="@Url.Content("https://fotos.subefotos.com/f6d56e276554735f2e2c363a74125540o.png")" alt="logo" width="50px" />
</a>



</div>
<div class="navbar-collapse collapse" >
<ul class="nav navbar-nav" >
<!--<li>@Html.ActionLink("Inicio", "Index", "Home")</li>-->
<li>@Html.ActionLink("Artículos", "Index", "Articulo")</li>
<li>@Html.ActionLink("Productos", "Index", "Producto")</li>
<li>@Html.ActionLink("Proveedores", "Index", "Proveedor")</li>
<li>@Html.ActionLink("Valoraciones", "Index", "Valoracion")</li>
<li>@Html.ActionLink("Métodos de pago", "Index", "MetodoPago")</li>
<li>@Html.ActionLink("Acerca de", "About", "Home")</li>
<li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
</ul>
@Html.Partial("_LoginPartial")
</div>
</div>
</div>
<div class="container body-content">
@RenderBody()
<hr />
<footer>
<p style="text-align: center">&copy; @DateTime.Now.Year - Tecnodona</p>
</footer>
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
